<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score Search Up - SpeedTyper</title>
    <link rel="stylesheet" href="/style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');</style>
</head>

<body>
    <main class="results-page">
        <h1>Search Up Score</h1>

        <section class="results-card">
            <div class="result-item">
                <h2>Enter a username and get their score stats!</h2>
            </div>
        </section>

        <form action="/scoreSearchResults" method="POST" class="save-score-form">
            <label for="username">Enter your username:</label>

            <input type="text" id="username" name="username" placeholder="Enter username" maxlength="20" required>

            <div class="button-group">
                <button type="submit" class="btn btn-primary">
                    Submit Entry!
                </button>

                <div class="button-group">
                    <a href="/" class="btn btn-secondary">Back to Home</a>
                </div>
            </div>
        </form>
    </main>
</body>
</html>