<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Speed Typer</title>
	<link rel="stylesheet" href="/style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');</style>
</head>

<body>
    <div class="container">
        <h1>Speed Typer</h1>
        <h2>How fast can you type dummy text?</h2>
		<p>
			Challenge yourself with randomly generated typing tests of dummy text,
			track your typing speed, and compete for a spot on the leaderboard.
		</p>

        <div class="button-group">
            <a href="/type" class="btn btn-primary">Start Typing!</a>
            <a href="/leaderboard" class="btn btn-secondary">View Leaderboard</a>
            <a href="/scoreSearch" class="btn btn-primary">Username LookUp!</a>
        </div>

        <div class="footer">
            Powered by Bacon Ipsum API
        </div>
    </div>
</body>

</html>