<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Speed Typer</title>
    <style>@import url(style.css);</style>
</head>

<body>
	<h1>Speed Typer</h1>

	<h2>Test how fast you can Type!</h2>
	<p>
		TAKE THE TYPER CHALLENGE <a href="/typerTest">Test</a>
	</p>
    <br>
	<hr>
</body>

</html>