<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Check Leaderboard</title>
    <style>@import url(style.css);</style>
</head>

<body>
	<h1><strong>Display GFAs Greater than or Equal to</strong></h1>
	<form action="/getScores" method="post">
		
		<label>Email: <input type="email" name="email"></label>
		<br>
		

		<br>
		<input type="submit" value="Submit Request"/>
		
	</form>
</body>
